@import 'src/partials/globals',
        'src/partials/mixins',
        'src/partials/responsive',
        'src/partials/typography',
        'src/partials/variables';

.container {
    width: 23.12rem;
    padding: 1.87em;
    @include cross-browser-support-box-shadow;
    form {
        margin: 1.5rem 0 1.25rem 0;
        button {
            padding: .625rem;
            @include cross-browser-support-transition-set;
            &:hover {
                color: #f5f5f5;
                background-color: #457b9d;
                @include cross-browser-support-transition-set;
            }
        }
        input {
            height: 3.125rem;
            font-size: 1.06rem;
            padding: 0 .9375rem;
            border: .125rem solid #999;
            @include cross-browser-support-transition-set;
            &:focus {
                border: .125rem solid #457b9d;
                @include cross-browser-support-transition-set;
            }
        }
        :where(input, select, button) {
            width: 100%;
            outline: none;
            border: none;
            cursor: pointer;
            text-transform: uppercase;
        }
    }
}

.attributions {
    padding-top: 1.875rem;
}