@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@200&display=swap');

body {
    font-family: 'Inter Tight', sans-serif;
}

header {
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
}