@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@200&display=swap');

body {
    font-family: 'Inter Tight', sans-serif;
}

header {
    font-size: 1.5rem;
    font-weight: 800;
    text-align: center;
}

.exchange-rate {
    text-align: center;
    font-weight: 800;
}

p {
    padding-bottom: 0.625rem;
    font-weight: 800;
}